BasedOnStyle: WebKit
FixNamespaceComments: true
AlignArrayOfStructures: Left
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
  AlignPPAndNotPP: false
Cpp11BracedListStyle: AlignFirstComment
AllowAllArgumentsOnNextLine: false
# AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBinaryOperators: None
BreakBeforeCloseBracketFunction: true
BreakInheritanceList: AfterComma
BreakTemplateDeclarations: Yes
ColumnLimit: 100
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: After
SpaceBeforeCpp11BracedList: false
SpacesInContainerLiterals: false
RemoveEmptyLinesInUnwrappedLines: true
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
WrapNamespaceBodyWithEmptyLines: Always
EnumTrailingComma: Insert
InsertNewlineAtEOF: true
RemoveSemicolon: true
LineEnding: LF
